*{
  font-size: 14px;
  color: #126794;
  background-color: #fafbfe;
  font-family: monospace;
}

/* css grid classes */
div.container {
  width: 100%;
  background: lightgray;
/*  display: grid;
  grid-template-columns: 7fr 4fr;
  grid-gap: 5px 3px;*/
	/* vertical lines, horizontal lines */
  /* 
 * a vertical line is a horizontal gap,
 * and a horizontal line is a vertical gap, so 
 * in that sense this follows the convention of
 * X first, then Y
 *
 * */
}

div.band-calendar {
  width: 100%;
  background: #124567;
/*  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-gap: 2px 3px;*/
}

div.set-list {
  width: 100%;
  background: #004567;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-gap: 1px 2px;
}











