*{
  font-size: 14px;
  color: #126794;
  background-color: #fafbfe;
  font-family: monospace;
}

/* css grid classes */
div.container {
  width: 100%;
  background: lightgray;
  display: grid;
  grid-template-columns: 7fr 4fr;
  grid-gap: 5px 3px; /* vertical lines, horizontal lines */
}
div.band-calendar {
  width: 100%;
  background: #124567;
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-gap: 2px 3px;
}
div.set-list {
  width: 100%;
  background: #004567;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-gap: 1px 2px;
}
div.band-member-song-mastery-chart {
  width: 100%;
  background: #444567;
  display: grid;
  grid-template-columns: 4fr 2fr 1fr 1fr 1fr 1fr;
    /* title key jeremy aaron sean ty */
  grid-gap: 1px 2px;
}

/* classes not related to css grid */
div.accent-div {
  background-color: #eae3de;
  padding: 8px;
  border-radius: 5px;                                         
}








